* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

body {
    font-family: Arial,  sans-serif;
    
}

img {
    width: 100%;  

}

.height100 {
height: 100vh;
padding: 100px;
}
    

.hero {
background-color: aquamarine;

}

.another-section {
background-color: bisque;

}

.one-more-section {
background-color: burlywood;

}


.box{
width:200px;
height:200px;
background:red;
margin:auto;

/* animacija */
animation-name: rotateBox;
animation-duration: 1s;
animation-timeline: view();
animation-range: entry 0% cover 50%;
}

@keyframes rotateBox{
from{
transform: rotate(0deg);
}

to{
transform: rotate(360deg);
}
}