* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

body {
    font-family: Arial, ; 
    
}

img {
    width: 50%;
    
}
.cars-wrapper {
    max-width: 900px;
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card-box {
   
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
   
}

.card-box.car-item1 {
    grid-column: span 2;
    
   } 

.card-box.car-item2 {
    grid-column: span 2;
    
   }

.card-box img, .card-box h2, .card-box p .card-box {
    margin-bottom: 2opx;
   
}


.card-box img {
    
    height: 150%;
    object-fit: cover;
}

.image-price {
    position: relative;
    
}

.image-price .price {
    position: relative;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    background-color: yellow;
    color: red;
    padding: 5px;
}


.other-info {
display: flex;
gap: 5px;
}


.other-info {
    background-color: grey;
}