<style>
        *{
          margin: 0;  
            padding: 0;
            box-sizing: border-box;
        }


        h1{
            color: rgb(234, 255, 0);
            text-decoration: underline;
            background-color: brown;
            margin-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            
        }
        .ovo-je-moj-div{
            background-color: rgb(221, 30, 30);
           
            height: 100px;
            width: 300px;
            margin-bottom: 50px;
            padding-top: 50px;
            padding-left: 70px;
        }
    </style>
        